/* 
#E6E2AF
#A7A37E
#EFECCA
#046380
#
*/

body {
    color: #A7A37E;
    background-color: #A7A37E;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: 750px;
    background-color: #E6E2AF;
    border-radius: 10px;
}

#title {
    color: #002F2F;
    font-size: 48px;
    text-align: center;
}

.header {
    border-bottom: 2px solid #A7A37E;
    height: 112px;
    width: inherit;
}

.listItem {
    border-bottom: 2px solid #A7A37E;
    width: inherit;
    height: 40px;
}

.divider {
    width: 0px;
    border-left: 2px solid #A7A37E;
    height: inherit;
    position: absolute;
    margin-right: 300px;
}

.inputBox {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input {
    border-radius: 2px;
    border: none;
    width: 350px;
    height: 40px;
    margin-left: 80px;
}

.add {
    background-color: #046380;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    margin-left: 15px;
    /* left: 412px; */
    top: 160px;
}

.add i {
    position: absolute;
    left: 25px;
    top: 23px;
    font-size: 1.5em;
}

.add:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}
