/* 
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

body {
    color: #A7A37E;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: 750px;
    background-color: #E6E2AF;
    border-radius: 10px;
}

#title {
    color: #002F2F;
}

.add {
    background-color: #046380;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 765px;
}

.add i {
    position: absolute;
    left: 25px;
    top: 23px;
    font-size: 1.5em;
}

.add:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}
